body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(245, 9, 9, 0.5);
    background-color: transparent;
    border: rgb(245,9,9) 3px;
}

h1 {
    text-align: center;
    color:crimson;

}

label {
    display: block;
    margin: 10px 0 5px;
    color: black;
    
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
#address{
    width: 100%;
}
#comments{
    width: 100%;
}
hr{
    width: 440px;
    position: relative;
    right: 21px;
 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
        background-image: url("bg.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
h3{
    color:red;
}